$date-border-color: rgba(0, 0, 0, 0.2);
$date-text-color: #117bd1;
$date-font-weight: 600;

.filter-custom-date {
  position: relative;
  cursor: pointer;
  color: $date-text-color;

  & > input {
    cursor: pointer;
    border: {
      width: 1px;
      radius: 5px;
      color: $date-border-color;
      style: solid;
    }
    padding: 5px 20px 5px 10px;
  }

  & > i {
    position: absolute;
    top: 10px;
    &.remove {
      right: 35px;
      &:hover {
        opacity: 0.7;
      }
    }
    &:last-of-type {
      right: 10px;
    }
  }
}
